.accerdon__container{
  display: flex;
  justify-content: flex-start;
  display: flex;
  height: 100%;
}

.section__accerdon{
  background: url("../img/Slider.png") center center no-repeat;
  background-size: cover;
  
}

.title__accerdon-text{
  margin-top: 7.1875rem;
    margin-left: 4.625rem;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    font-family: Play;
}

.accerdon__list{
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.accerdon__item{
  position: relative;
  min-width: 90px;
  height: 100%;
  display: flex;
  cursor: pointer;
}

.accerdon__item--silver{
  background: #999;
}

.accerdon__item--black{
  background: #151515;
}

.accerdon__item--red{
  background: #E01F3C;
}

.accerdon__title{
  position: relative;
    min-width: 90px;
    
}

.accerdon__title__choise{
  font-weight: bold;
  font-size: 2.25rem;
  color: #FFFFFF;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 5rem;
  white-space: nowrap;
}

.accerdon__choise{
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.accerdon__text{
  background: rgba(51, 53, 55, 0.9);
  max-width: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    font-family: Play;
    color: #fff;
    &--active{
      max-width: 524px;
      opacity: 1;
      visibility: visible;
    }
}

.accerdon__text p{
  padding: 1.9375rem 2.375rem;
}




.accerdon{
  width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
