.footer{
  height: 100vh;
  background: #FFFFFF;
}

.phone--footer{
  align-items: flex-start;
  flex-direction: column;
}

.address{
  font-family: Play;
  font-style: normal;
  font-size: 1.125rem;
}