.hamburger__menu{
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 100;
}

.hamburger{
  width: 1.857rem;
  height: 1.857rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  position: fixed;
}

.hamburger__plank{
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}