.section__map{
  background: url("../img/map.png") center center no-repeat;
  background-size:  cover;
  position: relative;
}

.container--map{
  padding-top: 1.187rem;
  padding-bottom:1.937rem ;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.phone__icon{
  width: 19px;
  height: 18px;
  padding-top: 3px;
  fill:  #E01F3D;
  display: none;
}

.contacts{
  display: flex;
  justify-content: space-between;
  width: 57.75rem;
  position: absolute;
    width: 57.75rem;
    max-width: 100%;
    margin: 0 auto;
}