.overlay{
  height: 100%;
  width: 100%;
  background-color: #333537;
  display: flex;
  transition: all 0.4s;
  position: fixed;
  top: 0;
  opacity: 0;
  left: 100%;
  z-index: 90;
  
}

.overlay--active{
  opacity: 1;
  left: 0;
  justify-content: center;
  align-items:center;
}

.overlay--active .nav{
  display: block;
  
}

.overlay--active .nav__item{
  margin-right: 0;
}

.overlay--active .nav__list{
  flex-direction: column;
  margin-left: 0;
}
.overlay--active .nav__link{
  color:#fff;
  font-size: 2.571rem;
}
