.slider__arrows{
  position: absolute;
  top: 0;
  bottom: 4.125rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider__link{
  background: url("../img/next.svg") center center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 0.8125rem;
  height: 1.75rem;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider__link--back{
  left: -5%;
    transition: 2s;
    transform: rotate(180deg) translateY(14px);
}

.slider__link--next{
  right: 0;
}

.slider{
  position: relative;
}



